#drum-machine{
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-top-row, #button-middle-row, #button-bottom-row{
    display: flex;
    justify-content: center;
}

#audio-file-label{
    border: 2px solid white;
    font-size: 25px;
    padding: 10px;
    margin: 5px;
}